

/* Media query to remove background image on smaller screens */
@media (max-width: 768px) {
	.background-image::before {
		background-image: none;
	}
}

.form-wrap {
	background: rgba(255, 255, 255, 1);
	width: 100%;
	max-width: 850px;
	padding: 50px;
	margin: 0 auto;
	position: relative;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.content-wrap {
    position: relative;
    z-index: 1; /* Ensure content is above the background */
	height: auto;
  }

.form-wrap:before {
	content: "";
	width: 90%;
	left: 0;
	right: 0;
	margin: 0 auto;
	position: absolute;
	top: -30px;
	background: #CA2637;
	z-index: -1;
	opacity: 1;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.grayed-out {
	background-color: rgba(128, 128, 128, 0.5); /* Gray with 50% opacity */
	padding: 10px;
	border-radius: 5px;
}

.header-1 {
    padding: 2px;
    text-align: center;
    background: #F6BA5F;
    color: white;
    font-size: 5px;
  }
  .header {
    padding: 2px;
    text-align: center;
    background: #CA2637;
    color: white;
    font-size: 5px;
  }
  